/* General rules */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-align: center;
  color: white;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  padding: 0 4.2%;
  width: 100%;
}

/* button */

button {
  background-color: transparent;
  border: none;
  padding: 6px 30px;
  border-radius: 5px;
  font-family: "TitlingGothicFB Comp", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
  text-align: center;
}

.button-white {
  border: 1px solid #ffffff;
}
.button-white:hover {
  color: #1a468e;
  background-color: #ffffff;
}

.button-blue {
  border: 1px solid #1a468e;
  color: #1a468e;
}

.button-blue:hover {
  border: 1px solid #ffffff;
  background-color: #1a468e;
  color: #ffffff;
}

/* typography */

h1 {
  font-family: "TitlingGothicFB Comp", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 200px;
  line-height: 95%;
  text-align: center;
  font-feature-settings: "liga" off;
}

h2 {
  font-family: "TitlingGothicFB Comp", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 48px;
}

p {
  font-family: "TitlingGothicFB Comp", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  text-align: center;
}

/* Header */

header {
  height: 799px;
  position: relative;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 37px;
  margin-bottom: 190px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.top-header nav ul {
  display: flex;
}

.top-header nav ul li {
  font-family: "TitlingGothicFB Comp", sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 48px;
}

.top-header nav ul li:last-child > * {
  color: grey;
}

.top-header nav ul li:last-child > *:hover {
  color: #3e7ee6;
}

.top-header nav ul li span:first-child {
  border-right: 1px solid grey;
  padding-right: 3px;
}

.top-header nav ul li span:last-child {
  padding-left: 5px;
}

.single-slide {
  position: relative;
  height: 800px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.title {
  display: flex;
  flex-direction: column;
  padding-top: 270px;
}

.title h1 {
  margin-bottom: 25px;
}

.prev,
.next {
  position: absolute;
  bottom: 50%;
  padding: 0px;
  border: none;
  border-radius: 0px;
}

.prev {
  left: 40px;
}

.next {
  right: 40px;
}

.header-slider p {
  margin-bottom: 98px;
}
.single-slide .wrapper{
    display: flex;
    height: 800px;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

.bottom-header {
  position: absolute;
  bottom: 80px;
  right: 220px;
}

.bottom-header .slick-dots li {
  width: 5px;
  height: 5px;
  border-radius: 100px;
  border: 1px solid white;
  padding: 17.5px;
  background: transparent;
}

.slick-dots li button {
  content: "â—";
  top: 7px;
  left: 7px;
}

.slick-dots li.slick-active button::before,
.slick-dots li button::before {
  color: #999999;
  top: 7px;
  left: 7px;
  font-size: 5px;
}

.bottom-header .slick-dots {
  display: flex;
}

/* Sii produttivo */

#produttivo {
  background-image: url(img/produttivo.png);
  height: 926px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 168px;
  padding-top: 155px;
}

.top-produttivo {
  margin-bottom: 121px;
}

.top-produttivo h1 {
  margin-bottom: 20px;
}

.middle-produttivo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.middle-produttivo > div {
    width: 100%;
    min-height: 184px;
    max-width: 480px;
}

.middle-produttivo div h2 {
  color: #3e7ee6;
  margin-bottom: 18px;
}

.bottom-produttivo {
  padding-bottom: 160px;
}

/* conta su di noi */

#conta {
  height: 926px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-conta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

.top-conta p {
  width: 1024px;
}

.top-conta h1 {
  padding-bottom: 35px;
}

.middle-conta {
  display: flex;
  justify-content: space-around;
  padding-bottom: 99.5px;
  color: #dcdcdc;
}

.middle-conta div p {
  padding-bottom: 30px;
}

.middle-conta div h2 {
  font-family: "TitlingGothicFB Comp", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 200px;
  line-height: 95%;
  text-align: center;
  font-feature-settings: "liga";
}

.bottom-conta {
  padding-bottom: 161px;
}

.top-conta p {
  color: #999999;
}

.middle-conta div p,
.top-conta h1,
.top-conta p span {
  color: #1a468e;
}

.middle-conta div p,
.top-conta p span {
  font-family: "TitlingGothicFB Comp", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
}

#conta h2 {
  color: #dcdcdc;
}

/* chi ci ha scelto */

#scelto {
  background-image: url(img/scelto.png);
  height: 982px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scelto > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-scelto {
  padding-bottom: 100px;
  padding-top: 98px;
  max-width: 1400px;
}

.middle-scelto {
  width: 1122px;
  padding-bottom: 82px;
}

.middle-scelto h2 {
  padding-bottom: 20px;
}

.middle-scelto p {
  text-align: justify;
}

.middle-scelto p span,
.middle-scelto h2 {
  color: #3e7ee6;
}

.bottom-scelto {
  padding-bottom: 110px;
}

/* chi siamo */

#siamo div {
}

.top-siamo {
  padding-top: 150px;
}

.top-siamo h1 {
  color: #1a468e;
  padding-bottom: 30px;
}

.top-siamo p {
  color: #999999;
  padding-bottom: 64px;
}

.middle-siamo {
  display: flex;
  justify-content: center;
  padding-bottom: 64px;
}

.middle-siamo img:first-child {
  margin-right: 135px;
}

.paragraph-siamo {
  padding: 0px 475px;
  padding-bottom: 90px;
}

.paragraph-siamo > * {
  font-family: "TitlingGothicFB Comp", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
}

.paragraph-siamo p {
  color: #999999;
  text-align: left;
}

.paragraph-siamo p:last-child {
  color: #3e7ee6;
}

.paragraph-siamo span {
  color: #1a468e;
}

.bottom-siamo {
  padding-bottom: 100px;
}

/* large laptop (1480px and down) */
@media screen and (max-width: 1480px) {
  /* general rules */

  h1 {
    font-weight: 900;
    font-size: 150px;
  }

  /* chi siamo */
  .paragraph-siamo {
    padding: 0px 175px;
    padding-bottom: 90px;
  }
}

/* small laptop (1280px and down) */
@media screen and (max-width: 1280px) {
  /* General Rules */
  .wrapper {
    padding-right: 0px;
    padding-left: 0px;
  }

  /* Header */

  .top-header {
    padding-left: 40px;
  }

  header .scopri-button {
    right: 43%;
  }

  /* chi ci ha scelto */
  .top-scelto {
    padding-top: 150px;
    padding-bottom: 20px;
  }

  .middle-scelto {
    width: 800px;
    padding-bottom: 82px;
  }
}

/* large tablets (tablets, 1024px and down) */
@media screen and (max-width: 1024px) {
  /* Header */

  .top-header nav ul li {
    margin-right: 28px;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  header .scopri-button {
    right: 34%;
  }

  .bottom-header {
    bottom: 50px;
    right: 160px;
  }

  /* conta su di noi */

  .top-conta p {
    width: 100%;
  }
}

/* Medium devices (tablets, large mobile, 802px and down) */
@media screen and (max-width: 802px) {
  /* typography */

  h1 {
    font-weight: 900;
    font-size: 100px;
  }

  /* Header */

  header {
    height: 799px;
    position: relative;
  }

  .top-header {
    justify-content: center;
    padding-top: 37px;
    margin-bottom: 190px;
  }

  .top-header nav ul {
    display: none;
  }


  .title h1 {
    margin-bottom: 20px;
  }

  button.prev img,
  button.next img {
    display: none;
  }
  
  

  .header-slider p {
    padding: 0px 160px;
  }

  header .scopri-button {
    bottom: 25%;
  }

  .bottom-header {
    bottom: 80px;
    right: 454px;
  }

  /* Sii produttivo */

  #produttivo {
    margin-bottom: 100px;
  }

  .top-produttivo {
    padding-bottom: 60px;
  }

  .top-produttivo h1 {
    padding-bottom: 20px;
  }

  .middle-produttivo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }

  .middle-produttivo > div {
    text-align: center;
    padding-bottom: 60px;
    width: 96%;
  }

  .middle-produttivo div h2 {
    padding-bottom: 20px;
  }

  .bottom-produttivo {
    padding-bottom: 120px;
  }

  /* conta su di noi */

  .top-conta {
    padding-bottom: 60px;
  }

  .top-conta p {
    width: 53%;
  }

  .top-conta h1 {
    width: 47%;
    padding-bottom: 25px;
  }

  .middle-conta {
    flex-direction: column;
    padding-bottom: 5px;
  }

  .middle-conta div p {
    padding-bottom: 30px;
  }

  .middle-conta div h2 {
    font-size: 100px;
    padding-bottom: 45px;
  }

  .bottom-conta {
    padding-bottom: 70px;
  }

  /* chi ci ha scelto */

  #scelto {
    margin-bottom: 50px;
    padding-top: 60px;
  }

  .top-scelto {
    padding-bottom: 40px;
    padding-top: 50px;
    max-width: 50%;
  }

  .middle-scelto {
    width: 80%;
    padding-bottom: 60px;
  }

  .middle-scelto h2 {
    padding-bottom: 30px;
  }

  .bottom-scelto {
    margin-bottom: 0px;
  }

  /* chi siamo */

  .top-siamo {
    padding-top: 0px;
  }

  .top-siamo h1 {
    padding-bottom: 25px;
  }

  .top-siamo p {
    padding-bottom: 52px;
  }

  .middle-siamo {
    flex-direction: column;
    padding-bottom: 50px;
  }

  .middle-siamo img {
    width: 100%;
    height: auto;
  }

  .middle-siamo img:first-child {
    margin-right: 135px;
  }

  .paragraph-siamo {
    padding: 0px 475px;
    padding-bottom: 90px;
  }

  .paragraph-siamo > * {
    font-family: "TitlingGothicFB Comp", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
  }

  .paragraph-siamo p {
    color: #999999;
    text-align: left;
  }

  .paragraph-siamo p:last-child {
    color: #3e7ee6;
  }

  .paragraph-siamo span {
    color: #1a468e;
  }

  .bottom-siamo {
    padding-bottom: 100px;
  }
}

/* Small devices (mobile, 576px and down) */
@media screen and (max-width: 576px) {
}
